@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
    :root {
        --width-leftBar-boardItem:260px;
        --height-header: 48px;
        --height-leftbar: calc(100vh - 88px);
        --width-textarea-titleBoard-showLeft: calc(100vw - 16px - 70px);
        --width-textarea-titleBoard-noShowLeft: calc(100vw - 253px - 70px);
        --height-container-column: calc(100vh - 62px - var(--height-header) - 5px);
        --height-list-task-pc: 740px;
        --height-list-task-mobile: 700px;
    }
    body {
        @apply p-0 m-0 box-border;
    }
    h1 {
        @apply text-[18px] font-Mooli font-bold !important;
    }
    h2 {
        @apply text-[16px] font-medium !important;
    }
}
@layer components {
}

@layer utilities {
    /*color background*/

    .color1 {
        background: linear-gradient(45deg, #fdc830, #f37335);
    }
    .color2 {
        background: linear-gradient(45deg, #8a2387, #f27121);
    }
    .color3 {
        background: linear-gradient(45deg, #fc5c7d, #6a82fb);
    }
    .color4 {
        background: linear-gradient(45deg, #30e8bf, #ff8235);
    }
    .color5 {
        background: linear-gradient(45deg, #ff00cc, #333399);
    }

    /*color background name lefbar item board*/
    .backgroundColorName {
        background: linear-gradient(to top, #216e4e, #4bce97);
    }

    .shadow {
        drop-shadow: 2px 2px 8px 17px #000;
    }

    /*custom long line word*/
    .hiddenLineLong1 {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .hiddenLineLong2 {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    
}
/*custom Tiny texterea */
.tox-statusbar__branding {
        display: none !important;
    }
.tox.tox-tinymce {
    background: #22272b !important;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-picker .ant-picker-clear {
    display: none;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-picker .ant-picker-suffix {
    display: none;

}
/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
  height: 12px;

}

/* Track */
::-webkit-scrollbar-track {
  background: transparent ; 
  padding-bottom: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #787878; 
  padding-bottom: 10px;
  border-radius: 10px;
  
}

.colorScrollBar::-webkit-scrollbar {
    width: 10px;
  }
.colorScrollBar::-webkit-scrollbar-thumb {
    background: #3B3B3B; 
    border-radius: 10px;
}
.colorScrollBar::-webkit-scrollbar-track {
    background: #292929 ; 
}


:where(.css-dev-only-do-not-override-pr0fja).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: #4096ff;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-btn-primary:not(:disabled):not(.ant-btn-disabled) {
    color: #fff;
    background-color: #4096ff90;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-picker {
    background-color: #22272B;
    
}
:where(.css-dev-only-do-not-override-pr0fja).ant-picker .ant-picker-input >input {
    color: #b6c2cf
}